body {
  background-size: cover;
  background-color: #f3e9e0;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -20px;
  width: 100vw;
  height: 10vh;
  color: #c45b48;
  font-family: "Playfair Display", serif;
  font-size: 3em;
  font-weight: normal;
}

/* s'applique à tout le html : balises utilisées pour l'animation du titre et de la bio */
:root {
  /* titre */
  --bg-color: #f3e9e0;
  /* bio et name */
  --underline-intrinsic-width: 8;
  --underline-width: 12;
  --underline-color: #c45b48;
  --underline-cap-width: 4px;
  --underline-offset-y: -2px;
  --underline-padding-x: 0.12em;
  --cap-image-left: url(https://files-d4s40otz1.now.sh/left.svg);
  --cap-image-right: url(https://files-4vvqilj8v.now.sh/right.svg);
}

/* initalisation du titre avant animation */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* décale la deuxième partie du titre */
* + * {
  margin-top: 2rem;
}

/* title styles */
.title span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

.title span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #c45b48;
  animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}

.title span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}

.title span:nth-of-type(1)::before,
.title span:nth-of-type(1)::after {
  animation-delay: 1s;
}

.title span:nth-of-type(2)::before,
.title span:nth-of-type(2)::after {
  animation-delay: 1.5s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

.stat {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.hat {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  z-index: 20;
  margin-top: -80px;
}

.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -485px;
}

.mySlides {
  display: none;
  height: 430px;
  margin-left: 75px;
}

.myText {
  padding: 2rem;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
}

.name {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 30px;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
}

.bio {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  margin: auto;
  max-width: 1000px;
  text-align: center;
  display: inline;
}
